[Unit]
Description=IGMP proxy
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/conf.d/igmpproxy
ExecStart=/usr/sbin/igmpproxy $IGMPPROXY_OPTS $IGMPPROXY_CONFIG

[Install]
WantedBy=multi-user.target
